# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Miriam

**Objectives:**
 - List popular languages for Data Science
 - List popular libraries for Data Science
 - List popular tools for Data Science
 - Demonstrate arithmatic expressions in Python

Some of the popular languages that Data Scientists use are:
 1. SQL
 2. Python
 3. R

Some of the commonly used libraries used by Data Scientists include:
 1. Matplotlib
 2. NumPy
 3. TensorFlow

 | Data Science Tools |
 | ---- |
 | RStudio |
 |Apache Spark |
 | TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
divide = 200/60
print("200 minutes = " + str(round(divide, 2)) + " hours")

200 minutes = 3.33 hours